/* -------- ESTILOS APP --------- */

*          {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}
@font-face {
    font-family: 'Idear3d';
    src: url('fonts/Alien-Encounters-Regular.ttf');
}
@font-face {
    font-family: 'consolas';
    src: url('fonts/Consolas.ttf');
}
p, h1, h2, table, tr, th, td {
    font: 2.75vw 'consolas';
    color:#4fb5ff;
}
div, header, figure{
    border: 0px dotted black;
}
html            {
width: 100%;
height: 100%;
}
body            {
height: 100%;
min-height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content:space-between;
background: -webkit-linear-gradient(top, #0b3751 0%,#04192b 100%);}

header          {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vw;
    align-items: center;
    padding: 5vw;
    border-bottom: 2px solid #4fb5ff;
    }
    
    #logo img{
        max-width: 30vw;    
    }

    #menuusuario    {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font: 2.5vw 'consolas';
    color: #4fb5ff;
    height: 10vw;
    margin: 0 2vw}
    
    #fotousuario {
        width: 8vh;}
    
    #usuario        {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}
    /*#fotousuario, #nombreusuario, #configurar     {margin: 10px}*/

#archivo3d      {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 2vw;
}

#archivo3d h1   {
        text-align: center;
        display: inline;
        font-size: 1.25em;
        margin-left: 10px;
}
main            {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    background: linear-gradient (to bottom right, cadetblue,darkblue);
    border-radius: 10px;
    border-color: aqua 1px;
    padding: 0% 5vw 0% 5vw;
    overflow: scroll;
}
.menufigura {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
box-sizing: border-box;
justify-content: space-between;
text-align: center;
    font: 1em 'consolas';
    color: #4fb5ff;
}
button {
    font: 1em 'consolas';
    background-color: #3DE6AF;
    border-radius: 5%;
    padding: 0.125em 0.25em}

.form{
}

.selsol {
    text-align: left;
}

.fin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 25%;
}

th{
padding: 5px;
margin: 0;
box-sizing: border-box;
justify-content: left;
text-align: left;
}

td{
padding: 5px;
margin: 0;
box-sizing: border-box;
justify-content: left;
text-align: left;
}

#construir      {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-radius: 10px;
                border: 2px solid #4fb5ff;
                padding: 10px;
                background-color: rgba(255,255,255,0.25);
                margin: 2em 0;
}
#figura         {
                    max-width: 75%;
}
#figura img     {
                        height: 100%;
                        width: auto;
}
#botonera       {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
}
#resultados     {
                height: 300px;
                border-radius: 10px;
                border: 2px solid #4fb5ff;
}
#resultados table{
                    width: 100%;
}
#resultados th  {
                        padding: 5px;
}

#resultados tr {}

footer          {
        width: 100%;
        height: 10%;
}
footer ul       {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between
}
footer li       {
                display: block;
}

.fondo {position: absolute;
        justify-content: flex-end;
        margin-top: 50%;
        opacity: 0.5;
                background: url("img/fondot.png") repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}


/* -------- ESTILOS CARGA --------- */

.hin{
    border-bottom: none;
}

#mivideo {
        z-index: -1;
}


#tituloapp      {font-size: 10px}
.descripcion    {
    display:flex; 
    flex-direction: row; 
    justify-content: flex-start;}

.texto {margin: auto;}

.inicio { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: 2.5vw 'consolas';
    color: #4fb5ff;
    height: 5vw;
    margin: 0 2vw}
 input {
    width: 50%;  
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    align-self: center;
    border: 1px solid #4FB5FF; 
    border-radius: 2vw; 
    background-color: rgba(255,255,255,0.3);
    font: 2.5vw 'consolas';
    color: #4fb5ff;
    padding: 0;
    margin: 1vw}

input::placeholder { color: #2d93dd; }

.ingresar { 
    display: flex; 
    flex-direction: row;  
    width: 20%; 
    background-color: #3DE6AF; 
    border-radius: 5%;
    font: 2.5vw 'consolas';}

.cargando {margin: auto; padding: auto; }

.cargando h1 {margin: 5px;;display: flex;flex-direction: row;justify-content: flex-start}

#mivideo { 
    min-width: 100%;
    min-height: 100%;
    width: 265%;
    height: auto;
    position: fixed;    
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
    z-index: -100;
    background-size: 100%;
    opacity: 0.1;
}

footer p { 
    padding: inherit;
    color:#163244 ; 
    background-color: white; 
    opacity: 0.3;}
    

/* -------- ESTILOS PRINCIPAL --------- */
/* -------- ESTILOS PRINCIPAL --------- */
/* -------- ESTILOS PRINCIPAL --------- */
/* -------- ESTILOS PRINCIPAL --------- */
 
.hpp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5vw;
}
    .login {
        display: flex; 
        flex-direction: row; 
        justify-content: space-around;}

        .inicio {       
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-self: center;
}
        
        .ingreso {
            display: flex; 
            flex-direction: column; 
            justify-content: space-between; 
            padding: 1vw;}

            .ingresar {
                width: 100%;
                background-color: #3DE6AF; 
                border-radius: 3vw; 
                text-decoration-color: #163244;
                margin-bottom: 1vw}
.imagen h1 {margin-top: 2vw;}
.descripcion    { 
    display:flex; 
    flex-direction: row; 
    justify-content: flex-start;}


.texto {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.1); 
    border-radius: 10px;
    padding: 2vw}

.registrarse {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;  
    font: 0.85em italic;}

.texto div{padding-bottom: 2vw}

.infografia    {margin-left: 5%; margin-top: 5%; margin-right: 5%; display:flex; flex-direction: row; justify-content: flex-start; text-align: left;}

.usuario h1, .contraseña h1 {
    margin: 0.5em 0.25em    ;}

.cajaimprimir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    margin-bottom: 5vh;
    background-color: #3DE6AF; 
    border-radius: 5vw;
    font: 8vw 'consolas';}

.pasos {
    margin: 2em 0; 
    display: flex;     
    flex-direction: row; 
    justify-content: center;}

.pasos img {
    width: 23vw; 
    height: auto; 
    opacity: 0.8;}

.impresora {
    margin: 10px; 
    width: 180px; 
    display: flex; 
    flex-direction: row; 
    justify-content: left;}

.text {
    text-align: center;}

a { font: 2em;
    text-decoration: none; 
    color: #163244;}


/* -------- ESTILOS USUARIO --------- */
/* -------- ESTILOS USUARIO --------- */
/* -------- ESTILOS USUARIO --------- */
/* -------- ESTILOS USUARIO --------- */



.historial { width: 100%; height: 6%;  display:flex; flex-direction: column; justify-content: flex-start; border: 1px ; border-style: solid; border-color: #4FB5FF; border-radius: 10px; background-color: rgba(255,255,255,0.1); }

.configuracionimpresora { width: 100%; height: 6%; display:flex; flex-direction: column; justify-content: flex-start; border: 1px ; border-style: solid; border-color: #4FB5FF; border-radius: 10px; background-color: rgba(255,255,255,0.1); }

.nuevo {width: 30%; height: 30%; display:flex; flex-direction: column; justify-content: flex-start; border: 1px ; border-style: solid; border-color: #4FB5FF; border-radius: 10px; background-color: rgba(255,255,255,0.2); }

.ayuda {width: 30%; height: 30%; display:flex; flex-direction: column; justify-content: flex-start; border: 1px ; border-style: solid; border-color: #4FB5FF; border-radius: 10px; background-color: rgba(255,255,255,0.2); }

.config ul      {list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between}

.historialtexto ul      {list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between}
#cuerpo {margin-top: 35px; }

.botones {margin-top: 30px; margin-left: 100px; margin-right: 100px ; display: flex; flex-direction: row; justify-content:space-between;}

.nuevo2 {margin: 5px;}
.ayuda2 {margin: 5px;}

.config {border:0px; border-style: solid; border-color: #4FB5FF; border-radius: 10px; }

.config li {margin: 3px;}

.historialtexto {;margin-bottom: 25px; border:0px; border-style: solid; border-color: #4FB5FF; border-radius: 10px; display: flex; flex-direction: row; justify-content:space-between;}

a {text-decoration: none;}


.config li {font: 1em 'consolas';
    color: white; opacity: 0.65;}

.historialtexto li {font: 1em 'consolas';
    color: white; opacity: 0.65;}

footer p {
    font-size: 2vw; 
    color:#163244 ; 
    background-color: white; 
    opacity: 0.3;
    padding: 1vh 3vh}

.historialtexto li {margin:2px;}

.fecha {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;}

.objeto {
    display: flex; 
    flex-direction: row; 
    justify-content: ;}
.enviarr {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;}
.enviarr img {
    height: 5vh;
}

/* estilo pestañas */
.tab {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: #3DE6AF;
    border-top-right-radius: 2.5vw;
    border-top-left-radius: 2.5vw;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #2CD59E;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #4FB5FF;
    border-top: none;
}

/*-----------ventana----------------*/

.ventana {
    display: none;
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color: rgba(255,255,255,0.6)}

.forma { 
    width: 80vw; 
    height: 80vw; 
    padding: 5vw; 
    background-color: #163244;
    border: 10px; 
    border-color: #4FB5FF; 
    border-radius: 10px; 
    top: 10vw; 
    left: 10vw; 
    position: absolute; 
    z-index: 30;}

.forma table {
    margin-top: 10%;}

h6 {font: 2em 'consolas';
    color:#4fb5ff;}

.enviar {display: flex; flex-direction: row; justify-content: flex-end; margin: 8%;}

.cerrar {font: 1.5em 'consolas'; color: #4fb5ff; font-weight: 900; text-align: right; font-style: italic;}

h5 {font: 1em 'consolas'; color: #4fb5ff; font-weight: 900; text-align: right; font-style: italic;}